<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is used to configure the log4j2 logger -->
<Configuration status="debug" name="chaosgame" packages="">
  <Appenders>
    <!-- Console appender to log to the console -->
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
    </Console>
    <!-- File appender to log to file -->
    <File name="log" fileName="src/main/resources/app.log" append="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
    </File>
  </Appenders>
  <Loggers>
    <!-- Root logger to log all messages -->
    <Root level="INFO">
      <AppenderRef ref="log"/>
    </Root>
  </Loggers>
</Configuration>
